<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wee3ventures.fontier">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <activity android:name=".ui.components.ActivityLibMain"
                  android:theme="@style/TbMediaPicker.Progress.Light"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.wee3ventures.fontier"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/paths" />
        </provider>

        <activity
                android:name=".TedImagePickerActivity"
                android:theme="@style/TedImagePickerTheme" />

        <activity
                android:name=".zoom.TedImageZoomActivity"
                android:theme="@style/TedImagePickerTheme.Zoom" />

        <activity android:name=".ocr_reader.OcrCaptureActivity"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.DayNight"/>

    </application>
</manifest>
