<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wee3ventures.fontier">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <activity android:name=".ui.components.ActivityLibMain"
                  android:theme="@style/TbDocPickerTheme"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.wee3ventures.fontier"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/paths" />
        </provider>
    </application>
</manifest>
